.navbar {
    display: flex;
    background-color: black;
    border: 5px groove gold;
    position: fixed;
    width: 98%;
    font-family: "IM Fell Great Primer SC", serif;
    z-index: 100;
  }

  .nav-links {
      display: flex;
      color: gold;
      justify-content: space-around;
      margin: auto;
      width: 100%;
  }
 
  .nav-item {
      list-style: none;

  }

  .nav-item a {
    padding: 0px 20px;
    color: gold;
    text-decoration: none;
    font-size: 25px; 
  }
  .padding__top {
       padding-top: 80px;
  }
  a:hover {
        background-color: red;
      }
  .logo {
      display: flex;
    display: inline-block;

  }
  .logo img {
      width: 75px;
  }

  nav {
    width: 100%;
  }

  /* class for main news section */
  .newsArticle {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
    height: 100%;

  }
  /* class for individual news articles */
  .newsBox {
    padding: 8px;
    word-wrap: normal;
    overflow: scroll;
    height: 25rem;
    width: 80%;
    border: 5px groove gold;
    margin: .5rem 1rem .5rem 1rem;
  }

  /* class for pictures in news articles */
  .newsPics {
    width: 30%;
  }

/* beginning of DM CSS for personal */

.info__all {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
}

.info__all > article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 3rem 0 3rem 0
}

.info__all > article > p {
  font-size: 3ch;
}

.info__all > article > h1,h2,h3,h4,h5,h6 {
  font-size: 4ch;
}

.info__all__immediateFamily > div > p {
  font-size: 2ch;
}

.info__all__birthcountry > img {
  max-width: 15rem;
  margin: auto;
}

html {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: red;
  font-family: "IM Fell Great Primer SC", serif;
}

body {
  color: gold;
  font-family: "Dosis", sans-serif;
}

.info__all__immediateFamily {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.info__all__immediateFamily > div {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  border: 5px groove gold;
  padding: 1rem;
}

article > div > img {
  max-width: 15rem;
  margin: auto;
}

.footer {
  display: flex;
  background-color: black;
  width: 97%;
  justify-content: flex-end;
}

.footer__links {
  display: flex;
  color: gold;
  margin: 10px;
  width: 5%;
}

#selenaImg {
  clip-path: circle(50%);
  z-index: -1;
}

.border__yellow {
  border: 5px groove gold;
  padding: 1rem;
}

.attribution {
  text-align: end;
  color: gold;
}

.attribution > p > a:visited {
  color: gold;
}

.attribution > p > a:link {
  color: gold;
}

.padding__top {
  padding-top: 80px;
}

.info__all_immediateFamily__Carrie > p > a:link {
  color: gold;
}

.info__all_immediateFamily__Carrie > p > a:visited {
  color: gold;
}