.navbar {
    display: flex;
    background-color: black;
    border: 5px solid gold;

  }

  .nav-links {
      display: flex;
      color: gold;
      justify-content: space-around;
      margin: auto;
      width: 100%;
  }

  .nav-item {
      list-style: none;

  }

  .nav-item a {
    padding: 0px 20px;
    color: gold;
    text-decoration: none;
    font-size: 25px; 
  }
    a:hover {
        background-color: red;
      }
  .logo {
      display: flex;
    display: inline-block;

  }
  .logo img {
      width: 75px;
  }

  nav {
    width: 100%;
  }

  /* class for main news section */
  .newsArticle {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-between;
    height: 100%;

  }
  /* class for individual news articles */
  .newsBox {
    /* display: flex; */
    /* flex: 60%; */
    /* align-items: stretch; */
    height: 15rem;
    width: 60%;
    border: 5px groove darkgray;
    margin: .5rem 1rem .5rem 1rem;
  }

  .twitter-timeline {
        
  }

/* beginning of DM CSS for personal */

  .info__all {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info__all > article {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    text-align: center;
  }

  .info__all__birthcountry > img {
    max-width: 15rem;
  }

html {
  /* background-color: hsl(210, 4%, 9%); */
}

body {
  /* color:hsl(214, 15%, 91%) */
}

.info__all__immediateFamily {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.info__all__immediateFamily > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
  border: 1px solid hsl(214, 15%, 91%) ;
  padding: 1rem;
}

article > div > img {
  max-width: 15rem;
  margin: auto;
}

/* MC Career CSS Start */
body {
  background-color: black;
}

.career_whole {
  background-color: black;
  border: 20px groove black;
  color: gold;
  
}

/* .careerSection {
  padding: 10%;
} */

.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
/* .video {
  border: solid 1px gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
} */

.video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  /* position: absolute; */
  top: 50%;
  /* transform: translate(-50%, -50%); */
}

.career-div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 4%;
}

.pictureLeft {
  display: flex;
  /* flex-direction: column; */
  justify-content: left;
  justify-items: center;
  margin-left: 4%;
}

.pictureRight {
  display: flex;
  /* flex-direction: column; */
  justify-content: left;
  justify-items: center;
  margin-left: 4%;
}

.starPic {
  margin-left: 0px;
  margin-right: 0px;
  padding: 4%;
}

.movingPictures {
  display
}

.sectionText {
  border: groove 1px red;
  font-size: 30px;
  color: white;
  text-align: right;
  padding: 2px;
  margin: 2px:
}

.albumText {
  margin-left: 5px;
}

.imgResize {
  max-width: 25%;;
}

/* .anchorSize {
  width: 25%;
}

.imgLinkSize {
  width: 100%;
} */